################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.dat
/Retro3DSim/GFX From Scratch.VC.db
/Retro3DSim/GFX From Scratch.VC.VC.opendb
